@model IEnumerable<AssessmentApp.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="InMemoryCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model) {
        <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
                
            <td>
                    <a asp-action="InMemoryUpdate" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="InMemoryDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="InMemoryDept" asp-action="InMemoryDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
